<template>
  <v-row>
    <v-col>
      <h1 style="margin-bottom: 10px">Manage Delivery</h1>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
            Add
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.name"
                    label="Delivery name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.icon"
                    label="Icon"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
            <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <template>
        <v-data-table
          :headers="headers"
          :items="data_delivery"
          sort-by="calories"
          class="elevation-1"
        >
          <template slot="item.no" scope="props">
            {{ props.index + 1 }}.
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
          </template>
        </v-data-table>
      </template>
    </v-col>
  </v-row>
</template>

<script>
const axios = require('axios')
axios.defaults.baseURL = 'https://api-rfda.herokuapp.com'
export default {
  name: 'DeliveryPage',
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      { text: 'No', name: 'No', sortable: false, value: 'no', width: '10px' },
      {
        text: 'Delivery Name',
        align: 'start',
        sortable: false,
        value: 'name',
      },
      { text: 'Icon', value: 'icon' },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    data_delivery: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      icon: 0,
    },
    defaultItem: {
      name: '',
      icon: 0,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'Add Delivery' : 'Edit Delivery'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  mounted() {
    this.initialize()
  },

  methods: {
    initialize() {
      axios
        .get(`/delivery?perPage=20`)
        .then((res) => {
          this.data_delivery = res.data.data
        })
        .catch((error) => {
          alert(error)
        })
    },
    editItem(item) {
      this.editedIndex = this.data_delivery.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.data_delivery.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.data_delivery.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.data_delivery[this.editedIndex], this.editedItem)
      } else {
        this.data_delivery.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>
