<template>
  <v-row>
    <v-col>
      <h1 class="mb-3">Manage Product</h1>
      <v-btn color="primary" class="mb-2" @click="addItem(item)"> Add </v-btn>
      <template>
        <v-data-table
          :headers="headers"
          :items="data_product"
          s
          :items-per-page="5"
          class="elevation-1"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
          </template>
        </v-data-table>
      </template>
    </v-col>
  </v-row>
</template>

<script>
const axios = require('axios')
axios.defaults.baseURL = 'https://api-rfda.herokuapp.com'

export default {
  name: 'ProductPage',
  data: () => ({
    headers: [
      {
        text: 'Product Name',
        align: 'start',
        sortable: false,
        value: 'title',
      },
      { text: 'Price', value: 'price' },
      { text: 'Selling Price', value: 'selling_price' },
      { text: 'Sales', value: 'sales' },
      { text: 'Category', value: 'category.name' },
      { text: 'Delivery', value: 'delivery.name' },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    data_product: [],
  }),

  mounted() {
    this.initialize()
  },

  methods: {
    initialize() {
      axios
        .get(`/products?perPage=20`)
        .then((res) => {
          console.log('res', res)
          this.data_product = res.data.data
        })
        .catch((error) => {
          alert(error)
        })
    },
  },
}
</script>
