<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon class="font-weight-medium text-h6">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title
              class="font-weight-medium text-body-2"
              v-text="item.title"
            />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      style="background: #536dfe; color: white"
    >
      <!-- <v-app-bar-nav-icon style="color: white" @click.stop="drawer = !drawer" /> -->
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon style="color: white"
          >mdi-{{ `${miniVariant ? 'chevron-right' : 'menu'}` }}</v-icon
        >
      </v-btn>
      <v-toolbar-title class="font-weight-bold" v-text="title" />
      <v-spacer />
      <!-- <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon style="color: white">mdi-menu</v-icon>
      </v-btn> -->
    </v-app-bar>
    <v-main style="background: #f6f7ff">
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <v-col class="text-center" cols="12">
        <strong>RF|DA Admin</strong> &copy; {{ new Date().getFullYear() }}
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-view-dashboard',
          title: 'Dashboard',
          to: '/',
        },
        {
          icon: 'mdi-tshirt-crew',
          title: 'Product',
          to: '/product',
        },
        {
          icon: 'mdi-basketball',
          title: 'Category',
          to: '/category',
        },
        {
          icon: 'mdi-truck-delivery',
          title: 'Delivery',
          to: '/delivery',
        },
        {
          icon: 'mdi-account-group',
          title: 'Users',
          to: '/user',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'RF|DA Admin',
    }
  },
}
</script>
