<template>
  <div class="row no-gutters">
    <div class="main-part d-none d-md-none d-lg-flex col col-7">
      <div class="d-flex">
        <p>RF|DA Admin</p>
      </div>
    </div>
    <div class="login-part d-flex align-center justify-center col-lg-5 col-12">
      <div class="login-wrapper pt-16 pt-sm-0">
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<style scoped>
.main-part {
  width: 100%;
  height: 100vh;
  background-color: #536dfe;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-part {
  width: 100%;
  height: 100vh;
  background-color: #f6f7ff;
  overflow-y: auto;
}
.login-part .login-wrapper {
  width: 320px;
  height: auto;
  margin: auto;
}
.align-center {
  align-items: center !important;
}
.main-part div p {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 84px;
  color: #fff;
  font-weight: 500;
}
</style>